{% block flag_textarea_widget %}
{% spaceless %}
<!-- autosize textareas -->
<div class="input-prepend flag-input-prepend">
    <span class="add-on flag-add-on" id="flag_{{ id }}"><div class="flag-icon flag flag-{{ name }}"></div></span>
    <textarea class="trans_textarea" id ="{{ id }}" name="{{ full_name }}"  >{{ value }}</textarea>
</div>
<script src="{{ asset('bundles/translationpxtranslation/js/jquery.autosize.min.js') }}"></script> 

<script type="text/javascript">


    $('#{{ id }}').autosize({
        callback: function(){
            var height = $('#{{ id }}').height()+ 2;
            $('#flag_{{ id }}').css('height', height+'px');
        }
    });
</script>
{% endspaceless %}
{% endblock flag_textarea_widget %}

